#macro(timePolicy)
<div class="container">
    <form id="makeTimePolicyForm" method="post">
        <h1 id="makeTimePolicyLabel">make time policy</h1>
        <input type="hidden" name="connectionID" id="connectionID" value="">
        <script type="text/javascript">
            document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
        </script>

        <div class="row">
            <div class="col-25">
                <label for="storeID">storeID</label>
            </div>
            <div class="col-75">
                <input name="storeID" placeholder="storeID" value="" required>
            </div>
        </div>
        <div class="row">
            <input type="submit" formaction="/makeTimePolicy" value="make time policy">
        </div>
    </form>
</div>
#end