#macro(navbar)
<header>
    <ul class="nav navbar-nav">
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Dropdown
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">

                    #if($currentUser)
                        <form method="post" action="/logout">
                            <button id="logout">$msg.get("COMMON_NAV_LOGOUT")</button>
                        </form>
                    #else
                        <a href="/login">$msg.get("COMMON_NAV_LOGIN")</a>
                    #end
                    <a href="/register">$msg.get("COMMON_NAV_REGISTER")</a>
                    <a href="/updateProductAmountInBasket">$msg.get("COMMON_NAV_UPDATE_PRODUCT_AMOUNT_IN_BASKET")</a>
                    <a href="/showBasket">$msg.get("COMMON_NAV_SHOW_BASKET")</a>
                </div>
            </div>
        </div>

        <li><a href="/">Home</a></li>
        <li style="float:right"><a href="/cart" id="cartA"> <img id="cartPicture" src="/img/cart.jpg" alt="Cart"></a> </li>
    </ul>
</header>
#end