#parse("/velocity/navbar.vm")
<html lang="en-us">
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/picture.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    #@navbar()
    #end
<main>
        <div class="container">
            <form id="deleteProductFromStoreForm" method="post">
                <h1 id="deleteProductFromStoreLabel">delete product from store</h1>
                <input type="hidden" name="connectionID" id="connectionID" value="">
                <script type="text/javascript">
                    document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
                </script>

                <div class="row">
                    <div class="col-25">
                        <label for="storeID">storeID</label>
                    </div>
                    <div class="col-75">
                        <input name="storeID" placeholder="storeID" value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="productID">productID</label>
                    </div>
                    <div class="col-75">
                        <input name="productID" placeholder="productID" value="" required>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="delete">
                </div>
            </form>
        </div>
    #if($success)
        <p class="good notification">product deleted successfully</p>
    #elseif($failed)
        <p class="bad notification">product deleted failed</p>
    #end
</main>
</body>
</html>
