#parse("/velocity/navbar.vm")
<html lang="en-us">
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/picture.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    #@navbar()
    #end
<main>
    <div class="container">
        <form id="getStoreDetailsForm" method="post">
            <h1 id="getStoreDetailsLabel">get store details</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="">
            <script type="text/javascript">
                document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
            </script>

            <div class="row">
                <div class="col-25">
                    <label for="storeID">storeID</label>
                </div>
                <div class="col-75">
                    <input name="storeID" placeholder="storeID" value="" required>
                </div>
            </div>
            <div class="row">
                <input id="goodPermissionMargin" type="submit" formaction="/getItemsByStore" value="get items">
                <input id="goodPermissionMargin" type="submit" formaction="/showStaffInfo" value="staff info">
                <input id="goodPermissionMargin" type="submit" formaction="/salesHistory" value="sales history">
                <input id="goodPermissionMargin" type="submit" formaction="/storePolicies" value="store policies">
            </div>
        </form>
    </div>
    #if($details)
        <p class="good notification">good get details</p>
        <h1>details</h1>
        <div class="row row-3">
            #foreach($detail in $details)
                <div class="col">
                    $detail
                </div>
            #end
        </div>
    #elseif($failed)
        <p class="bad notification">bad get details</p>
    #end
</main>
</body>
</html>
