#parse("/velocity/navbar.vm")
<html lang="en-us">
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/picture.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    #@navbar()
    #end
<main>
    <div class="container">
        <form id="getTotalVisitorsPerDayByAdminForm" method="post">
            <h1 id="getTotalVisitorsPerDayByAdminLabel">total visitors of the system</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="">
            <script type="text/javascript">
                document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
            </script>

            <div class="row">
                <div class="col-25">
                    <label for="date">date</label>
                </div>
                <div class="col-75">
                    <input type="date" name="date" placeholder="date" value="" required>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="view visitors">
            </div>
        </form>
    </div>
    <p> <div id="visitors_table" style="width: 700px; height: 150px;"></div> </p>
    #if($visitors)
        <p class="good notification"></p>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ["Element", "visitors", { role: "style" } ],
                    ["Guests", $visitors.get("guests"), "#ffff66"],
                    ["Subscribers", $visitors.get("subscribers"), "ffcc66"],
                    ["Store Managers", $visitors.get("store managers"), "ff5050"],
                    ["Store Owners", $visitors.get("store owners"), "color: #66ccff"],
                    ["System Admins", $visitors.get("system admins"), "color: #66ff66"]
                ]);

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,
                    { calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation" },
                    2]);

                var options = {
                    title: "total visitors of the system",
                    width: 600,
                    height: 400,
                    bar: {groupWidth: "95%"},
                    legend: { position: "none" },
                };

                var chart = new google.visualization.BarChart(document.getElementById("visitors_table"));
                chart.draw(view, options);
            }
        </script>
    #elseif($failed)
        <p class="bad notification">not allowed to see system visitors table</p>
    #end
</main>
</body>
</html>
