#parse("/velocity/navbar.vm")
<html lang="en-us">
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/picture.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    #@navbar()
    #end
<main>
    <div class="container">
        <form id="getTotalVisitorsPerDayByAdminForm" method="post">
            <h1 id="getTotalVisitorsPerDayByAdminLabel">total visitors of the system</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="">
            <script type="text/javascript">
                document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
                let ws2 = new WebSocket("ws://" + location.hostname + ":" + location.port + "/visitors");
                ws2.onopen = () => ws2.send(localStorage.getItem("connectID"));
                ws2.onmessage = msg => {
                    guestsIndex = msg.data.indexOf("guests") + 7
                    guestsMsg = msg.data.substring(guestsIndex)
                    subscribersIndex = msg.data.indexOf("subscribers") + 12
                    subscribersMsg = msg.data.substring(subscribersIndex)
                    storeManagersIndex = msg.data.indexOf("store managers") + 15
                    managersMsg = msg.data.substring(storeManagersIndex)
                    storeOwnersIndex = msg.data.indexOf("store owners") + 13
                    ownersMsg = msg.data.substring(storeOwnersIndex)
                    systemAdminsIndex = msg.data.indexOf("system admins") + 14
                    adminsMsg = msg.data.substring(systemAdminsIndex)
                    document.getElementById("guests").innerHTML = guestsMsg.substring(0, guestsMsg.indexOf(","));
                    document.getElementById("subscribers").innerHTML = subscribersMsg.substring(0, subscribersMsg.indexOf(","));
                    document.getElementById("store managers").innerHTML = managersMsg.substring(0, managersMsg.indexOf(","));
                    document.getElementById("store owners").innerHTML = ownersMsg.substring(0, ownersMsg.indexOf(","));
                    document.getElementById("system admins").innerHTML = adminsMsg.substring(0, adminsMsg.indexOf("}"));
                    drawChart()
                }
            </script>
            <div id="guests" hidden="true"> $visitors.get("guests") </div>
            <div id="subscribers" hidden="true"> $visitors.get("subscribers") </div>
            <div id="store managers" hidden="true"> $visitors.get("store managers") </div>
            <div id="store owners" hidden="true"> $visitors.get("store owners") </div>
            <div id="system admins" hidden="true"> $visitors.get("system admins") </div>
            <div class="row">
                <div class="col-25">
                    <label for="date">date</label>
                </div>
                <div class="col-75">
                    <input type="date" name="date" placeholder="date" value="" required>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="view visitors">
            </div>
        </form>
    </div>
    <p> <div id="visitors_table" style="width: 700px; height: 150px;"></div> </p>
    #if($visitors)
        <p class="good notification"></p>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ["Element", "visitors", { role: "style" } ],
                    ["Guests", parseInt(document.getElementById("guests").innerHTML), "#ffff66"],
                    ["Subscribers", parseInt(document.getElementById("subscribers").innerHTML), "ffcc66"],
                    ["Store Managers", parseInt(document.getElementById("store managers").innerHTML), "ff5050"],
                    ["Store Owners", parseInt(document.getElementById("store owners").innerHTML), "color: #66ccff"],
                    ["System Admins", parseInt(document.getElementById("system admins").innerHTML), "color: #66ff66"]
                ]);

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,
                    { calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation" },
                    2]);

                var options = {
                    title: "total visitors of the system",
                    width: 600,
                    height: 400,
                    bar: {groupWidth: "95%"},
                    legend: { position: "none" },
                };

                var chart = new google.visualization.BarChart(document.getElementById("visitors_table"));
                chart.draw(view, options);
            }
        </script>
    #elseif($failed)
        <p class="bad notification">not allowed to see system visitors table</p>
    #end
</main>
</body>
</html>
